.recipe {
	background-color: white;
	opacity: 92%;
	font-family: 'Poppins', sans-serif;
	padding: 1em;
	margin: 0 0 1.5em;

}

.recipe:hover {

	opacity:100%;
	
}
.ingredientsTitle {
	text-align: center;
}
.title {
	text-align: center;
}

.ingredients {
	list-style-type: none;
	text-align: center;
	font-style: italic;
	text-align: center;
	padding:0;
}

.calories {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
.image {
	width: 100%;
	height: 100%;
}